---
layout: page
title: Noticias
permalink: /
redirect_from:
  - /noticias/
  - /noticias
  - /n
---


  <div class="container">
    <strong>Mostrar solo:</strong>
    {% for category in site.news_categories %}
      <a href="#"  class="text-primary category" id="{{category.name}}" style="margin: 0.25rem;"> 
        {{category.name}} 
      </a>
    {% endfor %}
    |
    {% for lang in site.langs %}
      <a href="#" id="{{lang.code}}" class="text-primary lang" style="margin: 0.25rem;"> 
        {{lang.name}} 
      </a>
    {% endfor %}
  </div>
  {% for post in site.noticias reversed %}
    {% include  entry.html 
        post=post
    %}
  {% endfor %}

<!--Custom js-->
<script>
/*
  This code performs the filtering in the main new page. 
  We assume that every entry has only one category and only one language.
*/
$(document).ready(function(){
  //Active class:
  const active = "text-primary"
  const unactive = "text-muted"
  const langData = 'lang'
  const categoryData = 'categories'
  //There's some categories not considered between the filtering categories, these are the neutral_categories
  const neutral_categories = ['bloqueos', 'vigilancia','comunicado']
  //Search buttons
  let cat_btns = {};
  let lang_btns = {};
  //Available posts
  const entries = $('.entry').toArray().map(e => 
            {
              return { 
                      //Html objects
                      entry: e,
                      //Every tag in the entry
                      tags: [...$(e).data(categoryData).split(" "), $(e).data(langData)].filter(str => str !== "")
                    }
            });
  
  //Init buttons
  $('.category').toArray().forEach(item => {
    cat_btns[item.id]={btn: item, active: true};
  });

  $('.lang').toArray().forEach(item =>{
    lang_btns[item.id] = {btn: item, active: true};
  });
  
  //Set button handlers:
  $('.category').click(function(e){
    e.preventDefault();

    //toggle the state of the current category 
    toggleButton(cat_btns,e.target.id);
    //Filter the news based on the current state
    filterTag();
  });

  $('.lang').click(function(e) {
    e.preventDefault();
    //Toggle the state of the current language
    toggleButton(lang_btns, e.target.id);
    //Filter the news feed based on the current state
    filterTag();
  });

  /////// Aux functions ////////
  
  /*
    summary:  Perform the news filtering in the page
      
    param data: A string with the data attribute type. If you want to toggle a category, for example,
    the category data in an entry relies in a data-categories attribute within the entry template, so
    the correct string is 'categories'. 
    
    These are the supported data so far:
    - 'categories'
    - 'lang'
  */
  function filterTag()
  {
    let activeTags = [...Object.keys(cat_btns).filter( str => {return cat_btns[str].active;}),
                      ...Object.keys(lang_btns).filter( str => {return lang_btns[str].active;}),
                      ...neutral_categories
                      ];
    let hide = item => $(item.entry).addClass('hidden')
    let show = item => $(item.entry).removeClass('hidden')
    
    entries.map(entry => {
      if (entry.tags.every(item => activeTags.includes(item)))
      {
        show(entry);
      }
      else
      {
        hide(entry);
      }
    });    
  }

  /*
    summary: Set the skin of an active/unactive  button
    param btnArray: an object with the buttons information:
        {string (button id) : {active : bool, item : HTML object}}
    param btn: (String) button id 
  */
  function toggleButton(btnArray, btn)
  {
    if(btnArray[btn].active)
    {
      btnArray[btn].active = false;
      $(btnArray[btn].btn).removeClass(active);
      $(btnArray[btn].btn).addClass(unactive);
    }
    else{
      btnArray[btn].active = true;
      $(btnArray[btn].btn).removeClass(unactive);
      $(btnArray[btn].btn).addClass(active);
    }  
  }
  
});
</script>