---
layout: page
title: Noticias
permalink: /
redirect_from:
  - /noticias/
  - /noticias
  - /n
---


  <div class="container">
    <strong>Mostrar solo:</strong>
    {% for category in site.news_categories %}
      <a href="#"  class="text-primary" id="{{category.name}}" style="margin: 0.25rem;"> 
        {{category.name}} 
      </a>
    {% endfor %}
    |
    {% for lang in site.langs %}
      <a href="#" id="{{lang.code}}" class="text-primary" style="margin: 0.25rem;"> 
        {{lang.name}} 
      </a>
    {% endfor %}
  </div>
  {% for post in site.noticias reversed %}
    {% include  entry.html 
        post=post
    %}
  {% endfor %}

<!--Custom js-->
<script>

$(document).ready(function(){
  console.log("Everything ok");
});

</script>