<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<link href='https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,300italic,400italic,500italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ site.baseurl }}/lib/main.css">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="stylesheet" href="{{ site.baseurl }}/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	
	{% if page.image == false or page.image == "no" %}
	<meta name="twitter:card" content="summary">
	{% else %}
	<meta name="twitter:card" content="summary_large_image">
	{% endif %}
    <meta name="twitter:site" content="@VEsinFiltro">
    <meta name="twitter:creator" content="@VEinteligente">
    <meta name="twitter:title" content="{% if page.small %}{{ page.small }}{% else %}{% if page.title %}{{ page.title }}{% else %}VEsinFiltro.com reporta y evade la censura{% endif %}{% endif %}">
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | truncatewords:75  }}{% else %}¡Que no te censuren el internet! Reporta fallas, bloqueo y censura en internet; y navega librevente siguiendo nuestros tutoriales{% endif %}">
    <meta name="twitter:image" content="{% if page.image == false or page.image == "no" %}{{ "/res/TWcard.png" | absolute_url }}{% else %}{{ page.image | absolute_url }}{% endif %}">
</head>
