<header class="site-header">

	<div class="wrapper">

		<img id="graph-back" src="{{ site.baseurl }}/res/graphback.svg"/>

		<div class="logo-wrapper">
			<a href="{{ site.baseurl }}/">
				<img src="{{ site.baseurl }}/res/VeSinFiltro-long.svg" style="max-height: 84px; max-width: 100%;" />
			</a>
			{% if page.tagline %}
				<i class="tagline">{{ site.tagline }}</i>
			{% endif %}
		</div>

		<div id="general-state-internet" class='regular'>
			<i>Internet en Vzla</i>
			<b></b><div></div>
		</div>

		<nav class="site-nav hidden-xs">
			<div class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Todas las guías <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
				{% for link in site.bloqueos %}
					<li class=""><a href="{{ link.url | prepend: site.baseurl }}">
						{{ link.small }}</a></li>
				{% endfor %}
				<li class="divider"></li>
				{% for link in site.documenta %}
					<li class=""><a href="{{ link.url | prepend: site.baseurl }}">
						{{ link.small }}</a></li>
				{% endfor %}
				</ul>
			</div>
			{% for link in site.navigation reversed %}
				{% if link.title %}
					<a {% if page.url == link.url %}class="active"{% endif %}
					href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
				{% endif %}
			{% endfor %}
		</nav>
		<nav class="site-nav  visible-xs-block">
            <div class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Menu de navegación <b class="caret"></b>
				</a>
                <ul class="dropdown-menu">
        			{% for link in site.navigation reversed %}
        				{% if link.title %}
                        <li>
        					<a {% if page.url == link.url %}class="active"{% endif %}
        					href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>

                        </li>
        				{% endif %}
        			{% endfor %}
    				<li class="divider"></li>
					<li ><a href="#"><b>Todas las guías:</b></a></li>
    				{% for link in site.bloqueos %}
    					<li class=""><a href="{{ link.url | prepend: site.baseurl }}">
    						{{ link.small }}</a></li>
    				{% endfor %}
    				{% for link in site.documenta %}
    					<li class=""><a href="{{ link.url | prepend: site.baseurl }}">
    						{{ link.small }}</a></li>
    				{% endfor %}
                </ul>
            </div>
		</nav>

	</div>

</header>
